* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MontSerrat", sans-serif;
  color: #fff;
  min-height: 100vh;
}

.glass {
  background: rgba(6, 42, 61, 0.65); /* azul escuro com transparência */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
}

.bg {
  height: 100vh;
  background-image: url("/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 30px;
}

.logos {
  display: flex;
  gap: 12px;
  align-self: center;
  margin-top: -90px;
  margin-bottom: 26px;
}

.logo {
  width: 128px;
}

.titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.header h1 {
  font-size: 24px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.header h2 {
  font-size: 18px;
  font-weight: 500;
}

.agenda {
  display: flex;
  align-items: center; /* centraliza vertical */
  justify-content: center;
  padding: 20px;
  border: #fff solid 2px;
  border-radius: 40px;
  height: 40px;
  width: 200px;
  text-decoration: none;
  color: white;
  align-self: center;
}

.bg-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
}

.content {
  text-align: center;
  display: grid;
}

.buttons {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 6px;
}

.btn {
  display: flex;
  align-items: center; /* alinha ícone e texto verticalmente */
  justify-content: center; /* centraliza tudo no botão */
  gap: 8px;
  padding: 14px 20px;
  height: 56px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/*final*/

.final {
  padding: 22px;
  border-radius: 30px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.final h1 {
  font-size: 22px;
  padding-bottom: 16px;
}

.final p {
  font-size: 1rem;
  margin-bottom: 26px;
}

/* SLIDER */

.slide-fotos {
  display: grid;
  gap: 8px;
  border-radius: 30px;
  background-color: #00263d;
  padding: 0px;
}

.slideshow-container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  max-height: 500px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 20px 20px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 20px 0 0 20px;
}

.prev:hover,
.next:hover {
  background-color: #00263d;
}

/* Caption text */
.marcador {
  display: flex;
  gap: 12px;
  justify-content: center;
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: salmon;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 540px) {
  .slide-fotos {
    gap: 12px;
  }
}
